<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Attendance</title>
  <style>
    .zoom {
  padding: 25%;
  /* background-color: green; */
  transition: transform .2s;
  width: 5px;
  height: 5px;
  margin: 2 rem;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
  </style>
</head>
<body>
    <h1 style="text-align: center;margin: top 100px;">User added successfully!</h1>
    <a href="/upload"><button style="color:black;background-color: beige;text-align: center;margin-top: 50px;">Return</button></a>
</body>
</html>